* {
  box-sizing: border-box;
}

:root {
  --primary-color: #17252a;
  --secondary-color: #2b7a78;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* header and nav section styles */
.header {
  background-color: var(--primary-color);
  color: #feffff;
}

nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

.nav-image {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  padding: 8px;
  overflow-clip-margin: content-box;
  overflow: clip;
  margin-right: 15px;
}

.nav-text {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 1px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* hero section styles */

.hero-banner {
  background-image: url(/images/02-hero-bg.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 50px;
}
.hero-content {
  position: absolute;
  right: 0px;
  bottom: 50px;
  background-color: var(--secondary-color);
  padding: 15px 35px;
}

/* about section styles */

.page-wrapper {
  width: 90%;
  height: auto;
  margin: 10px auto;
}

.about {
  margin-bottom: 50px;
}

.about-container {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.about-title {
  color: var(--primary-color);
}
.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  border-right: 3px solid var(--primary-color);
}

.about-right {
  flex-basis: 70%;
  position: relative;
  margin-left: 15px;
}
.about-right p {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* work section styles */

.page-section {
  display: flex;
  justify-content: space-between;
}
.work-container {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.work-title {
  border-right: 2px solid var(--primary-color);
  padding-right: 20px;
}

.work-info-1 {
  background-image: url(/images/job1.png);
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.work-info-2 {
  background-image: url(/images/job2.png);
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.work-info-3 {
  background-image: url(/images/job3.jpg);
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.work-title-1, .work-title-2, .work-title-3 {
  position: absolute;
  left: 0;
  bottom: 50px;
  background-color: var(--secondary-color);
  color: #feffff;
}
.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color);
  height: 50px;
}
.btn a {
  width: 60px;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* contact section styles */

.page-section-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.page-section-contact h2 {
  border-right: 2px solid var(--primary-color);
  padding-right: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px;
  width: 50%;
}
.contact-info a {
  text-decoration: none;
  color: var(--primary-color);
}

/* mobile media styles */

@media (max-width: 600px) {
  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px;
      padding-top: 30px;
      padding-bottom: 10px;
  }
  .about-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
  
  }
  .about-left {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 70px;
      border-bottom: 3px solid var(--primary-color);
  }
  .about-right {
      margin-bottom: 30px;
  }
  .page-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .work-title {
      border-bottom: 2px solid var(--primary-color);
      margin-bottom: 15px;
  }
  .work-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  }
  .work-info-1, .work-info-2, .work-info-3 {
      grid-column-start: 1;
      grid-column-end: 2;
  }
}